#secondpage{
background-color: rgb(173, 216, 230);
margin-top:1%;
padding:0%;
height:105%;
margin-left:-1%;
margin-right:-1%;
margin-bottom: -10px;
}
.textPage2{
margin-left:1%;
color: black;
}
#Calculator{
color:white;
background-color: black;
border: 1px solid 1px;
border-radius: 30%;	
}
#Calculator:hover{
color:white;
background-color: gray;
border: 1px solid 1px;
border-radius: 30%;
}
.images{
margin-top: -43px;
margin-bottom:380px;
margin-left:1%;
}